In [1]:
import plotly.tools
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
import pandas as pd
plotly.tools.set_credentials_file(username='rapp.cxs', api_key='55rlfaf8bj')

In [2]:
raw='./data/itlist_mapping_03.csv'
df = pd.read_csv(raw)
df

,COMPANY-NAME,STATUS,CITY,STATE,EMPLOYEE-RANGE,EMPLOYEE-AVERAGE,COUNTRY,ESTIMATED-REVENUE
0,ACTIVENT MARKETING,independent,Raleigh,NC,11-50,30.5,USA,7625000
1,ADVANTAGE INTERNATIONAL,public,Norwalk,CT,11-50,30.5,USA,7625000
2,AGENCYEA,private,Chicago,IL,80,80.0,USA,20000000
3,ALL TERRAIN,private,Chicago,IL,11-50,30.5,USA,7625000
4,ALLIED EXPERIENTIAL,Owned by Allied Integrated Marketing,NY,NY,11-50,30.5,USA,7625000
5,ASTOUND GROUP,private,Oakville,Ontario,50-200,125.0,CANADA,31250000
6,BARKLEY KALPAK AGENCY,Owned by First Protocol,NY,NY,11-50,30.5,USA,7625000
7,BMF MEDIA,independent,NY,NY,11-50,30.5,USA,7625000
8,BOLT MARKETING GROUP,independent,Portland,OR,10,10.0,USA,2500000
9,BOTTLEROCKET MARKETING,Owned by Brand Connections,NY,NY,11-50,30.5,USA,7625000
10,BROADSTREET,private,NY,NY,11-50,30.5,USA,7625000
11,C3 AGENCY,private,Brooklyn,NY,11-50,30.5,USA,7625000
12,CARDENAS MARKETING NETWORK,private,Chicago,IL,50-200,125.0,USA,31250000
13,CRAMER,independent,Norwood,MA,50-200,125.0,USA,31250000
14,DIVISION BLACK,Owned by Billups,Lake Oswego,OR,11-50,30.5,USA,7625000
15,DRIVESHOP,private,Redmond,WA,50-200,125.0,USA,31250000
16,ELEMENTO L2,independent,Chicago,IL,11-50,30.5,USA,7625000
17,ELITE MARKETING GROUP,private,NY,NY,300,300.0,USA,75000000
18,EMG3,Owned by TideSmart Global,Falmouth,ME,11-50,30.5,USA,7625000
19,ENGINE SHOP,Owned by Bruin Sports Capital,NY,NY,50-200,125.0,USA,31250000
20,EPSILON,public,Irving,TX,500+,500.0,USA,125000000
21,EVENT STRATEGY GROUP,private,Broomall,PA,11-50,30.5,USA,7625000
22,EVENTAGE,independent,South Orange,NJ,11-50,30.5,USA,7625000
23,EVENTIVE,public,NY,NY,11-50,30.5,USA,7625000
24,EVENTNEXT,public,Lake Orion,MI,11-50,30.5,USA,7625000
25,EXECUTIVE VISIONS INC.,independent,Norcross,GA,11-50,30.5,USA,7625000
26,FACTORY 360,independent,NY,NY,50-200,125.0,USA,31250000
27,FCBX,public,Chicago,IL,11-50,30.5,USA,7625000
28,FIRST PROTOCOL,private,London,England,180,180.0,UK,45000000
29,FLUENT,private,Colombia,SC,11-50,30.5,USA,7625000
...,...,...,...,...,...,...,...,...
70,MOSAIC,private,Mississauga,Ontario,1000+,1000.0,CANADA,250000000
71,MOTIVE,private,NY,NY,50-200,125.0,USA,31250000
72,MVP COLLABORATIVE,private,Madison Heights,MI,11-50,30.5,USA,7625000
73,NA COLLECTIVE,private,NY,NY,11-50,30.5,USA,7625000
74,NCOMPASS,private,West Hollywood,CA,50-200,125.0,USA,31250000
75,NEWBRIDGE LIVE,private,Portland,ME,11-50,30.5,USA,7625000
76,NEXT MARKETING,independent,Atlanta,GA,11-50,30.5,USA,7625000
77,NVE,private,Beverly Hills,CA,17,17.0,USA,4250000
78,OCTAGON,public,McLean,VA,800,800.0,USA,200000000
79,ON BOARD EXPERIENTIAL,private,Sausalito,CA,50-200,125.0,USA,31250000
80,OPUS AGENCY,private,Beaverton,OR,50-200,125.0,USA,31250000
81,PERFORMANCE MARKETING GROUP,private,Indianapolis,IN,50-200,125.0,USA,31250000
82,PGW EXPERIENCE,owned by CAA,Los Angeles,CA,50-200,125.0,USA,31250000
83,POP2LIFE,private,NY,NY,11-50,30.5,USA,7625000
84,PROSCENIUM,partership,NY,NY,11-50,30.5,USA,7625000
85,REDPEG MARKETING,private in a collective,Alexandria,VA,50-200,125.0,USA,31250000
86,REVEL,private,Muskegon,MI,11-50,30.5,USA,7625000
87,REVOLUTION,independent,Chicago,IL,50-200,125.0,USA,31250000
88,SET,public,Portland,OR,50-200,125.0,USA,31250000
89,SOHO EXPERIENTIAL,private,NY,NY,11-50,30.5,USA,7625000
90,SPARKS,private,Philadelphia,PA,200-500,350.0,USA,87500000
91,SUPERFLY,private,NY,NY,50-200,125.0,USA,31250000
92,SWITCH,private,st. louis,MO,50-200,125.0,USA,31250000
93,SYNERGY,private,Ocean,NJ,50-200,125.0,USA,31250000
94,THE TAYLOR GROUP,private,Brampton,Ontario,200-500,350.0,CANADA,87500000
95,TOUCH WORLDWIDE,private,Seattle,WA,50-200,125.0,USA,31250000
96,TRACK MARKETING GROUP,private,NY,NY,11-50,30.5,USA,7625000
97,UNITED ENTERTAINMENT GROUP,owned by Edelman,NY,NY,50-200,125.0,USA,31250000
98,THE VISIONARY GROUP,private,Los Angeles,CA,35,35.0,USA,8750000
99,WASSERMAN,private,Los Angeles,CA,500+,500.0,USA,125000000

In [3]:
dfusa = df[(df["COUNTRY"]=="USA")]
staterev = dfusa.groupby(dfusa["STATE"],squeeze=True)
staterev.sum()

       EMPLOYEE-AVERAGE  ESTIMATED-REVENUE
STATE
CA               1329.5          332375000
CT                880.5          220125000
GA                341.5           85375000
IL               1121.5          280375000
IN                125.0           31250000
MA                125.0           31250000
ME                 61.0           15250000
MI               1091.5          272875000
MO                186.0           46500000
NC                 30.5            7625000
NJ                155.5           38875000
NV                500.0          125000000
NY               5863.0         1465750000
NY                 30.5            7625000
OR                446.0          111500000
PA                380.5           95125000
SC                 30.5            7625000
TN                 30.5            7625000
TX               1125.0          281250000
VA                925.0          231250000
WA                250.0           62500000
WI                500.0          125000000

In [4]:
staterev.count()

,COMPANY-NAME,STATUS,CITY,EMPLOYEE-RANGE,EMPLOYEE-AVERAGE,COUNTRY,ESTIMATED-REVENUE
STATE,,,,,,,
CA,13,13,13,13,13,13,13
CT,3,3,3,3,3,3,3
GA,5,5,5,5,5,5,5
IL,9,9,9,9,9,9,9
IN,1,1,1,1,1,1,1
MA,1,1,1,1,1,1,1
ME,2,2,2,2,2,2,2
MI,4,4,4,4,4,4,4
MO,3,3,3,3,3,3,3
NC,1,1,1,1,1,1,1
NJ,2,2,2,2,2,2,2
NV,1,1,1,1,1,1,1
NY,30,30,30,30,30,30,30
NY,1,1,1,1,1,1,1
OR,6,6,6,6,6,6,6
PA,2,2,2,2,2,2,2
SC,1,1,1,1,1,1,1
TN,1,1,1,1,1,1,1
TX,3,3,3,3,3,3,3
VA,2,2,2,2,2,2,2
WA,2,2,2,2,2,2,2
WI,1,1,1,1,1,1,1

In [5]:
staterev["ESTIMATED-REVENUE"].sum().index[0]

'CA'

In [6]:
staterev["ESTIMATED-REVENUE"].sum()[0]

332375000

In [7]:
states = []
revenue = []

In [8]:
for i in staterev["ESTIMATED-REVENUE"].sum().index.get_level_values("STATE"):
#     print (i)
    states.append(i)

In [9]:
states

['CA',
 'CT',
 'GA',
 'IL',
 'IN',
 'MA',
 'ME',
 'MI',
 'MO',
 'NC',
 'NJ',
 'NV',
 'NY',
 'NY ',
 'OR',
 'PA',
 'SC',
 'TN',
 'TX',
 'VA',
 'WA',
 'WI']

In [10]:
for j in staterev["ESTIMATED-REVENUE"].sum():
#     print (j)
    revenue.append(j)

In [12]:
scl = [[0.0, 'rgb(242,240,247)'],[0.2, 'rgb(218,218,235)'],[0.4, 'rgb(188,189,220)'],\
            [0.6, 'rgb(158,154,200)'],[0.8, 'rgb(117,107,177)'],[1.0, 'rgb(84,39,143)']]

data = [ dict(
        type='choropleth',
        colorscale = scl,
        autocolorscale = False,
        locations = states,
#         z = dfusa['EMPLOYEE-AVERAGE'].astype(float),
        z = revenue,
        locationmode = 'USA-states',
        marker = dict(
            line = dict (
                color = 'rgb(255,255,255)',
                width = 2
            )
        ),
    ) ]

In [13]:
layout = dict(
        title = 'Experential Agency Revenue by Statee<br>(Hover for breakdown)',
        geo = dict(
            scope='usa',
            projection=dict( type='albers usa' ),
            showlakes = True,
            lakecolor = 'rgb(255, 255, 255)',
        ),
    )

fig = go.Figure(data=data, layout=layout)

In [15]:
py.iplot(fig, filename='experiential-map')