In [1]:
import pandas as pd

In [8]:
df = pd.read_csv('gs://datacamp-202518.appspot.com/data/claims/cms_d/PartD_Prescriber_PUF_NPI_13.txt',sep='\t', lineterminator='\n')

In [13]:
df.shape

(1049299, 84)

In [14]:
df.head(10)

,npi,nppes_provider_last_org_name,nppes_provider_first_name,nppes_provider_mi,nppes_credentials,nppes_provider_gender,nppes_entity_code,nppes_provider_street1,nppes_provider_street2,nppes_provider_city,...,beneficiary_male_count,beneficiary_race_white_count,beneficiary_race_black_count,beneficiary_race_asian_pi_count,beneficiary_race_hispanic_count,beneficiary_race_nat_ind_count,beneficiary_race_other_count,beneficiary_nondual_count,beneficiary_dual_count,beneficiary_average_risk_score\r
0,1003000126,ENKESHAFI,ARDALAN,NaN,M.D.,M,I,900 SETON DR,NaN,CUMBERLAND,...,53.0,NaN,NaN,NaN,0.0,0.0,NaN,79.0,54.0,2.3405\r
1,1003000142,KHALIL,RASHID,NaN,M.D.,M,I,4126 N HOLLAND SYLVANIA RD,SUITE 220,TOLEDO,...,45.0,77.0,NaN,NaN,NaN,0.0,NaN,53.0,48.0,1.607\r
2,1003000167,ESCOBAR,JULIO,E,DDS,M,I,5 PINE CONE RD,NaN,DAYTON,...,13.0,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN,0.9802\r
3,1003000175,REYES-VASQUEZ,BELINDA,NaN,D.D.S.,F,I,322 N AZUSA AVE STE 202,NaN,LA PUENTE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r
4,1003000183,CYPHERS,DENNIS,J,L.M.P,M,I,6930 52ND AVE W,NaN,TACOMA,...,25.0,35.0,NaN,0.0,NaN,NaN,0.0,36.0,19.0,1.6993\r
5,1003000282,BLAKEMORE,ROSIE,K,FNP,F,I,TENNESSEE PRISON FOR WOMEN,3881 STEWARTS LANE,NASHVILLE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r
6,1003000407,GIRARDI,DAVID,J,D.O.,M,I,456 MAGEE AVE,NaN,PATTON,...,72.0,NaN,0.0,0.0,0.0,NaN,0.0,112.0,73.0,1.6182\r
7,1003000415,WEBSTER,MARSHALL,D,D.C.,M,I,113 CARL VINSON PKWY,NaN,WARNER ROBINS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,\r
8,1003000423,VELOTTA,JENNIFER,A,M.D.,F,I,11100 EUCLID AVE,NaN,CLEVELAND,...,0.0,NaN,NaN,0.0,0.0,0.0,NaN,21.0,18.0,0.8241\r
9,1003000480,ROTHCHILD,KEVIN,B,MD,M,I,12605 E 16TH AVE,NaN,AURORA,...,NaN,14.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,1.6743\r